:root {
    --opacity: 1;
    --angle: "45deg";
}

.selected-0 {
    border: var(--border-size) dashed #399953;
}

.selected-1 {
    border: var(--border-size) dashed #377af5;
}

.selected-2 {
    border: var(--border-size) dashed #d53e33;
}


.selected {
    --border-size: 0.2rem;
    border-radius: 4px;
    border: var(--border-size) dashed #399953;
}

@supports (background: paint(houdini)) {
    @property --opacity {
        syntax: "<number>";
        initial-value: 0.5;
        inherits: false;
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes opacityChange {
        to {
            --opacity: 1;
        }
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    .selected-0 {
        border-image: conic-gradient(from var(--angle),
                #d53e33 0deg 90deg,
                #fbb300 90deg 180deg,
                #377af5 180deg 270deg,
                #399953 270deg 360deg) 1 stretch;
    }

    .selected-1 {
        border-image: conic-gradient(from var(--angle),
                #d53e33 0deg 90deg,
                #377af5 90deg 180deg,
                #d53e33 180deg 270deg,
                #377af5 270deg 360deg) 1 stretch;
    }

    .selected-2 {
        border-image: conic-gradient(from var(--angle),
                #399953 0deg 90deg,
                #fbb300 90deg 180deg,
                #399953 180deg 270deg,
                #fbb300 270deg 360deg) 1 stretch;
    }

    .selected {
        --border-size: 0.2rem;
        border-radius: 4px;
        animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
        background: rgb(255 255 255 / var(--opacity));
    }
}